@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

body, html {
  background-image: url("./images/austinImage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin: 0;
  background-size: cover;
  font-family: 'Rubik';
}


