@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

body, html {
  background-image: url("./images/austinImage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Rubik';
}

.sectionStyle {
  width: 100%;
  padding-top: 100px;
  margin: 0 auto;
}

.sectionHeader {
  background-color: greenyellow;
  padding: 10px;
  text-align: center;
}

#infoOpen {
  width: 100%;
  transform: translateY(0);
  transition: transform 800ms ease-in-out;
}

#infoOpen.slideIn {
  transform: translateX(0);
}
#infoOpen.slideOut {
  transform: translateX(-100%);
}